@charset "utf-8";
/* CSS Document */
.carImage {
	/*display: none;*/
	 width: 100%;
  height: auto;
	/*position: relative;*/
}
.productImg{
	 width: 100%;
  height: auto;
}

.carImageActive{
      width: 100%;
  height: auto;
}

.WyattContainer {
	
}
@media(max-width: 1001px) {
.footer .flex-column {
	text-align: left;
}
}
@media(min-width: 769px){
	.productImg{
			width: 33%;
  height: auto;

	} 

}
